.discord-button,
.discord-button:visited {
  background-color: #5165f6 !important;
  border-radius: 30px;
}

.discord-icon {
  max-width: 20px;
}

.discord-button:hover {
  background-color: #3f4fcc;
}

.discord-button span {
  color: white;
  font-size: 1.2rem;
}

.discord-login-text {
  font-size: 14px !important;
}

.navbar-brand .navbar-title {
  font-size: 24px;
}

.nav-item .nav-link a {
  color: rgb(65, 65, 65);
}

#header-nav .nav-link {
  color: rgb(43, 43, 43);
}

#header-nav .nav-link:hover {
  background-color: rgb(0, 89, 255);
  color: white;
  border-radius: 10px;
  transition: 1s;
}

#header-nav .nav-item a.nav-link.disabled .label {
  color: rgb(43, 43, 43);
  text-decoration: line-through;
}

#header-nav .nav-link.disabled .badge-primary {
  color: rgb(43, 43, 43);
}
